<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="styles/app.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="de.cismet.todoApp" ng-controller="TodoCtrl">
        <div>
            <label>Enter your name:</label>
            <input type='text' ng-model="name"/>
            <h1> Hello {{name}}!</h1>
        </div>
        <div >
            <h1> <span ng-bind="name"></span> has the following ToDo's </h1>
            <label>Search:</label>
            <input type='text' ng-model='todoFilter'>
            <br />
            <label>{{remaining()}} of {{todos.length}} remaining</label> [<a ng-click='archive()'>archive</a>]
            <todo-list></todo-list>
            <input type="text" ng-model="newTodo"><button ng-click="addTodo()">Add</button>
            <!--<input type="text" ng-model="newTodo"><button ng-click="todos.push({title:newTodo})">Add</button>-->
        </div>
        <hr>
        <div>
            <my-customer customer-info="customer"></my-customer>
            <my-customer-isolated customer-info="customer"></my-customer>
        </div>
        <hr>
        <div ng-controller="IgorCtrl">
            <my-customer customer-info="customer"></my-customer>
            <my-customer-isolated customer-info="customer"></my-customer>
            
        </div>
        <hr>
        <div ng-controller="NaomiCtrl">
            <my-customer customer-info="customer"></my-customer>
            <my-customer-isolated customer-info="customer"></my-customer>
        </div>
    </body>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
    <script src="scripts/controllers/_module.js" type="text/javascript"></script>
    <script src="scripts/filters/_module.js" type="text/javascript"></script>
    <script src="scripts/directives/_module.js" type="text/javascript"></script>
    <script src="scripts/controllers/todoCtrl.js" type="text/javascript"></script>
    <script src="scripts/filters/shortenerFilter.js" type="text/javascript"></script>
    <script src="scripts/directives/todoList.js" type="text/javascript"></script>
</html>
